body{margin: 20px 40px;font-family: Arial, Helvetica, sans-serif;}
form .start{background-color: rgb(29, 106, 207);color: white;border-color: aqua;font-weight: 5px;width: 40%;
    font-size: 5px;border: none;border-radius: 10%;line-height: 20px;align-items: center;}
form .search{width: 50%;align-items: center;line-height: 20px;}
input.email:hover{border:5px solid yellow;}
input.email:active{border:5px solid green;}
button.email:hover{border: 5px solid rgb(174, 185, 174);background-color: rgb(46, 46, 36);color: blue;}
form{padding: 10px 20px;}
.container{width: 100%;margin: 40px;background-color: rgb(196, 223, 47);}

.inner1{display: block;width: 50%; margin: 10px;float: left;padding:0px 20px;}
.hero{display:inline-flex;width: 70%;float: left;font-size:30px}
p.col-1,p.col-2{display: flex;font-size: 10px;margin: auto; float: left;}
.column1{width: 80%;background-color: aquamarine;padding: 10px;}

.column1-inner1,.column1-inner2{margin: 20px;display: flex;padding: 20px;}
img{width: 40%;float: right;position: relative;}


.footer-1{background-color: rgb(119, 119, 143);display: block;margin-bottom: 0px;}
.footer-2{background-color: rgb(12, 17, 83);display: block;}
nav ul{display: flex;text-decoration: none;list-style: none;}

div.section{margin: 40px;background-color: aqua;width: 90%;}
.wrapper2 img {margin:40px;background-color: yellowgreen;width: 50%;}
header{width: 70%;margin: 30px;align-items: center;}
header .logo{float: left;width: 20%;align-items: center;display: inline-flex;}
header .logo a{float: left;}
div a img{width:5em;height: 2em;display: inline-flex;}
header .right-nav{width: 50%;float: right;align-items: center;display: inline-flex;}
header .right-nav ul{width: 100%;}
header .right-nav ul li{margin: 39px;}
div article h1{font: 2em sans-serif;}

.article1{float: left;width: 60%;}
.right-nav ul li a{color: red; font:bold;text-decoration: none;font-size: 20px;font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;float: right;}
.right-nav ul li a:hover{color: blue;text-decoration:overline;}
.wrapper1{display: flex;width: 95%;padding:20px}
.wrapper1 .image1{width:40%;margin:20px 20px;}
.image1 img{width: 20em;}
.wrapper1 .article1{width: 50%;margin: 10px;}
.article1 button{background-color: rgb(39, 39, 231);color: bisque;padding:5px 20px;border: none;}
.article1 input{padding: 5px 10px;}
article{display: block;}
.wrapper2{display: flex;width: 100%;margin: 10px 0px;}
.wrapper2 .subwrap{display: block;width: 60%;margin: 0px 10px;}
.wrapper2 .image2{width: 30%;margin: 0px 50px;}
.image2 img{width: 20em;}
.message{width: 50%;background-color: #e3ebec;}
.image{width: 5px;border-radius: 50%;display: flex;}
span h1{font-size: 10px;}
footer{margin: 0px;clear: both;width: 90%;}
.footer-1{margin: 0%;padding: 30px;color: aliceblue;display: flex;width: 95%;}
.footer-1 article{width: 50%; }
.footer-1 form button{background-color: blue;color: aliceblue;padding: 15px;font: 1em sans-serif;border: 0px;}
.footer-1 form button:hover{background-color: orange;color: blue;}

.footer-1 form input{line-height: 50px;display: block;margin-bottom: 30px;width:60%;font-size: large;border: 0px;}
.footer-1 article p{line-height: 30px;}
.footer-2{display:flex;width: 100%;}
.footer-2 article {width: 90%;padding-top: 50px;}
.footer-2 article ul li{list-style: none;line-height: 10px;color: azure;font: 1em sans-serif; padding: 20px;}
.footer-2 a{text-decoration: none;color: bisque;}
a:hover{color: green;font-size: 2em;}
a:visited{color: rgb(218, 57, 8);}
.text,.message{width: 70%;}
.facebook{color: rgb(86, 86, 235);}
.twitter{color: rgb(29, 58, 223);}
.social{background-color: azure;}
.social a {margin-left: 2em;}